@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Dancing+Script&family=Lora&family=Montserrat:wght@100&family=Noto+Sans:wght@200&family=Poppins:wght@100&family=Quicksand:wght@300&family=Raleway:wght@100;200;300&family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    }
    .Bars{
      overflow: hidden;
    }
    .about-section { 
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/bakground/pool4.jpg);
      background-size: cover;
      height: 100vh;
      background-position: center;
      overflow: hidden;
    }
    .logo {
    float: left;
    cursor: pointer;
    position: absolute;
    padding-top: 15px;
    padding-left: 25px;
    }
    .menu-bar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    text-align: right;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    .menu-bar ul {
    display: inline-flex;
    padding: 15px;
    text-align: center;
    }
    .menu-bar ul li {
    list-style-type: none;
    padding: 15px 25px;
    text-align: center;
    }
    
    .menu-bar ul li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    }
    .menu-bar a:after{
    content: '';
    position: absolute;
    background: #f1c40f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    }
    .menu-bar a:hover:after{
    width: 105%;
    }
    i {
    margin-right: 8px;
    }
    .container h1{
    font-family: 'Dancing Script', cursive;
    padding-top: 30%;
    font-size: 50px;
    text-align: center;
    color: #f1c40f;
    }
    .booking-reserve-info{
      color: #000;
      padding-top: 10%;
      width: 100%;
      position:absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    .reserve{
    background: #fff;
    padding: 25px;
    margin-left: 25%;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #ddd;
    width: 55%;
    }
    .reserve h2{
      text-align: center;
      font-size: 16px;
    }
    .reserve p{
      text-align: center;
      padding-bottom: 35px;
    }
    .reserve label{
      margin-left: 20px;
    }
    input[type=text] {
    outline:none;
    border:none;
    color: #000;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #ddd;
    }
    input[type=number] {
    outline:none;
    border:none;
    color: #000;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #ddd;
    }
    input[type=date]{
    outline:none;
    border:none;
    color: #000;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #ddd;
    width: 105%;
    margin-left: 35px;
    }
    input[type=tel] {
    outline:none;
    border:none;
    color: #000;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #ddd;
    
    }
    select{
    outline:none;
    border:none;
    color:#000;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #ddd;
    width: 120%;
    margin-right: 25px;
    }
    input[type=submit] {
    background-color: rgb(127, 188, 210);
    color: white;
    padding: 8px 25px;
    margin-left: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #ddd;
    width: 90%;
    }
    .cottage-reserve h2{
      padding-top: 60px;
      font-family: 'Poppins', sans-serif;
    }
    .cottage-reserve p{
      font-family: 'Cormorant Garamond', serif;
      padding-bottom: 0px;
    }
    #cot-type{
      width: 400px;
      margin-top: 0;
    }
    #mySubmit{
        border-radius: 5px;
        width: 650px;
    }
    /* End */
    .footer{
    display: inline-block;
    width: 100%;
    margin-top: 45%;
    background-color: #000;
    }
    .footer .icons{
    text-align: center;
    }
    .icons{
    border-bottom: 1px solid #fff;
    background: #000;
    }
    .icons li{
    display: inline-block;
    align-items: center;
    padding: 5px 0 5px 7px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 9px;
    border: 1px solid #ddd;
    border-radius: 20%;
    }
    .icons a{
    color: #fff;
    
    }
    .footer .contacts{
    float: left;
    }
    .legal{
    float: right;
    list-style-type: none;
    padding: 25px 36px 25px 0;
    margin-right: 8%;
    
    }
    .legal li{
    padding-bottom: 15px;
    }
    .legal a{
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #fff;
    justify-content: space-around;
    list-style-type: none;
    }
    .contacts{
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    padding: 25px 0 25px 45px;
    margin-left: 8%;
    }
    .contacts h1{
    color: #fff;
    padding-bottom: 20px;
    font-size: 30px;
    } .contacts li{
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    padding-bottom: 15px;
    }
    .contacts a{
    text-decoration: none;
    color: #fff;;
    }
    .item-row{
        display: inline-block;
    }
    @media all and (max-width: 600px){
    .Bars{
    width: 100%;
    }
    .about-section { 
    background:none;
    }
    .menu-bar{
      overflow: hidden;
    width:100%;
    height: 50px;
    }
    .menu-bar ul {
    display: inline-flex;
    padding: 5px;
    text-align: center;
    }
    .menu-bar ul li {
    list-style-type: none;
    padding: 5px 10px;
    text-align: center;
    }
    .menu-bar ul li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    }
    .logo img{
    width: 60px;
    height: 30px;
    padding-bottom: 10px;
    }
    .container{
      overflow: hidden;
    }
    .container h1{
      padding-top: 30%;
      font-size: 25px;
      }
    .booking-reserve-info{
    width: 100%;
    position:absolute;
    transform:none;
    top: 5%;
    left: 0%;
    box-shadow: none;
    overflow: hidden;
    }
    .reserve{
      background: transparent;
      border: none;
      padding: 25px;
      margin-left: 5%;
      margin-right: 1%;
      font-family: 'Poppins', sans-serif;
      font-size: 11px;
      width: 90%;
      }
      .reserve h2{
        text-align: center;
        font-size: 13px;
      }
      .reserve label{
        margin-left: 0%;
        padding-left: 0px;
        width: 100px;
        padding-bottom: 1px;
      }  
       input[type=text] {
        padding: 6px;
        width: 200px;
        border-radius: 0%;
        }
        input[type=number] {
        padding: 3px;
        width: 200px;
        border-radius: 0%;
        }
        input[type=tel] {
        padding: 3px;
        width: 200px;
        border-radius: 0%;
        }
        select{
          width: 200px;
          border-radius: 0%;
        }
      #checkin{
        padding-left: 0%;
      }
      input[type=date]{
        width: 200px;
        margin-left: 0px;
        border-radius: 0%;
        }
      #cot-type{
        width: 200px;
        margin-top: 0;
      }
       .item-row{
        display: block;
        padding-bottom: 25px;
    }
    .submit-btn{
        margin-top: 5%;
    }
      #mySubmit{
        border-radius: 15px;
        width: 250px;
        font-size: 11px;
    }
    .contacts h1{
      color: #fff;
      padding-bottom: 20px;
      font-size: 20px;
    }
    .contacts{
      padding: auto;
      text-align: center;
      margin: auto;
    }
    .legal{
      padding: auto;
      text-align: center;
      margin: auto;
    }
    }