@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Dancing+Script&family=Lora&family=Montserrat:wght@100&family=Noto+Sans:wght@200&family=Poppins:wght@100&family=Quicksand:wght@300&family=Raleway:wght@100;200;300&family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    }
    .about-section { 
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/bakground/pool4.jpg);
      height: 50vh;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    .logo {
    float: left;
    cursor: pointer;
    position: absolute;
    padding-top: 15px;
    padding-left: 25px;
    }
    .menu-bar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    text-align: right;
    width: 100%;
    height: 8%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    .menu-bar ul {
    display: inline-flex;
    margin-right: 25px;
    text-align: center;
    }
    .menu-bar ul li {
    list-style-type: none;
    padding: 25px;
    text-align: center;
    margin-bottom:25%;
    }
    
    .menu-bar ul li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 4px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    }
    .menu-bar a:after{
    content: '';
    position: absolute;
    background: #f1c40f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    }
    .menu-bar a:hover:after{
    width: 105%;
    }
    i {
    margin-right: 8px;
    }
    .container h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    color: #f1c40f;
    padding-top: 15%;
    }
    .container{
      padding-top: 5%;
    }
    .booking-reserve-info{
      color: #000;
      padding-top: 5px;
      width: 100%;
    }
    .reserve{
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 20%;
    padding-top: 25px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    .reserve h2{
      text-align: center;
      font-size: 17px;
    }
    .reserve p{
      text-align: center;
      padding-bottom: 35px;
    }
    .row{
      display: justify;
      margin: auto;
      margin-bottom: 25px;
    }
    .col-item{
      display: inline-block;
      margin-right: 3%;
      margin-bottom: 45px;
    }
    .col{
      width: 15%;
    }
    #cot{
      width: 204px;
      display: inline-block;
    }
    #cot-type{
      width: 435px;
      margin-top: 0;
    }
    span{
      color: red;
    }
    input[type=text] {
      width: 205px;
    border: 1px solid #ddd;
    }
    input[type=number] {
    border: 1px solid #ddd;
    width: 207px;
    }
    input[type=tel] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #ddd;
    }
    input[type=date] {
      width: 205px;
      }
    input[type=submit] {
    width: 90%;
    }
    .cottage-reserve h2{
      padding-top: 60px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 18;
    }
    .cottage-reserve p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding-bottom: 0px;
    }
    #mySubmit{
        border-radius: 5px;
        width: 650px;
        margin-top: 8%;
        margin-left: 4%;
    }
    /* check availble css */

    .container{
      text-align:center;
  }
  .btn{
      margin:25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 16px;
  }
  img{
      width: 120px;
      height: 300px;
  } #submit{
      background: #097;
      color: #fff;
      width: 200px;
  }
  tr td{
    padding: 34px;
  }
  .submit{
      width: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .cardss{
      display:inline-block;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: left;
      width: 940px;
      height: 190px;
      margin: 25px;
      border-collapse: collapse;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
  }
  #net{
    padding-top: 25px;
  }
  .box{
      margin: 25px;
      padding: 25px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  label{
      text-align: left;
  }
  .field{
      display: inline-block;
  }
  .img-pic{
    width: 200px;
  }
  .card-item{
    display: inline-block;
  }
  .card-item p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
  }
  .item-private{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 25px;
    width: 90%; 
    height: 320px;
  }
  .item-rows{
  display: flex;
  padding-left: 15px;
  }
  .item-rows img{
    margin-top: 25px;
    width: 360px;
    height: 230px;
    border-radius: 5px;
  }
  .items-rowss{
  display: flex;
  padding: 25px;
  } 
  .private-info h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 40px 0px 5px 25px;
  }
  .private-info p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding-left: 25px;
  }
  #book a{
    text-decoration: none;
  }
  .payment img{
    width: 600px;
    height: 100px;
  }
    /* End */
    .footer{
    display: inline-block;
    width: 100%;
    margin-top: 45%;
    background-color: #000;
    }
    .footer .icons{
    text-align: center;
    }
    .icons{
    border-bottom: 1px solid #fff;
    background: #000;
    }
    .icons li{
    display: inline-block;
    align-items: center;
    padding: 5px 0 5px 7px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 9px;
    border: 1px solid #ddd;
    border-radius: 20%;
    }
    .icons a{
    color: #fff;
    
    }
    .footer .contacts{
    float: left;
    }
    .legal{
    float: right;
    list-style-type: none;
    padding: 25px 36px 25px 0;
    margin-right: 8%;
    }
    .legal li{
    padding-bottom: 15px;
    }
    .legal a{
      font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #fff;
    justify-content: space-around;
    list-style-type: none;
    }
    .contacts{
    color: #000;
      font-family: 'Cormorant Garamond', serif;
    padding: 25px 0 25px 45px;
    margin-left: 8%;
    }
    .contacts h1{
    color: #fff;
    padding-bottom: 20px;
    font-size: 30px;
    } .contacts li{
      font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    padding-bottom: 15px;
    }
    .contacts a{
    text-decoration: none;
    color: #fff;;
    }
    @media all and (max-width: 900px){
    .Bars{
    width: 100%;
    }
    .about-section{
    height: 40vh;
    
    }.menu-bar{
      width:100%;
      height: 5%;
      }
      .menu-bar ul {
      padding-top: 5px;
      }
      .menu-bar ul li {
      padding: 5px;
      }
      .menu-bar ul li a{
      font-size: 10px;
      padding: 2px;
      }
      .logo img{
        width: 60px;
        height: 30px;
        padding-bottom: 10px;
        }
    .container h1{
    color: #f1c40f;
    font-size: 20px;
    padding-top: 50%;
    }
    .btn{
      display: center;
      margin: auto;
    }
    #mySubmit{
      border-radius: 5px;
      width: 289px;
  }
  .reserve{
    font-size: 15px;
    margin-top: 5%;
    margin-left: 0%;
    padding-top: 25px;
    width: 100%;
    box-shadow:none;
    }
    .reserve h2{
      font-size: 16px;
    }
    .reserve label{
      margin-left: 1px;
      text-align: left;
      font-size: 15px;
    }
    input[type=text] {
      padding: 1px;
      margin-bottom: 15px;
      }
      input[type=number] {
        padding: 1px;
        margin-bottom: 15px;
      }
      input[type=date]{
        margin-bottom: 15px;
      width: 125%;
      }
      input[type=tel] {
        padding: 1px;
        margin-bottom: 15px;
      }
      select{
      width: 120%;
      margin-right: 25px;
      }
      input[type=submit] {
      width: 100%;
      }
      #cot-type{
        width: 250px;
        margin-top: 0;
        margin-bottom: 15px;
      }
      .items{
        margin-right: auto;
        margin-top: 5px;
        display: block;
      }
    .contacts h1{
      color: #fff;
      padding-bottom: 20px;
      font-size: 20px;
    }
    .contacts{
      padding: auto;
      text-align: center;
      margin: auto;
      font-size: 15px;
    }
    .legal{
      padding: auto;
      text-align: center;
      margin: auto;
    }
    }